header{
    background-color: rgb(236, 236, 236);
    padding: 25px;
}
h1,h2{
    display:inline;
    margin: 0 0 0 20px;
    vertical-align: middle;
    padding: 15px 25px;
}
h2{
    font-size: 22px;
    font-weight: bold;
    color: darkblue;
}
main{
    
}
main section{
    display: inline-block;
    padding: 25px;
    
}
.principal{
    margin: top;
}
.texto-nuevo{
    background:url(img/gb.jpg);
    opacity: 0.75;
    border-radius: 10px;
    border: none;
}
.secundario{
    margin: top;
    display: inline-block;
}
.texto-procesado{
    text: white;
    border-radius: 10px;
    opacity: 0.25;
}