main{
    width: 100%;
    height: 100%;
    background: #F3F5FC;
}
.logo{
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}
main textarea{
    border: none;
    background: none;  
}
.texto-nuevo{
   position: absolute;
    width: 450px;
    height: 300px;
    left: 140px;
    top: 128px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    color: #0A3871;
}
.botones{
    /* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 80px;
height: 67px;
left: 240px;
top: 460px;


}
.principal-dos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 450px;
    height: 18px;
    top: 450px;
    left: 140px;
}
