main{
    width: 100%;
    height: 88%;
    background: #F3F5FC;
}
.logo{
    position: absolute;
    width: 120px;
    height: auto;
    left: 40px;
    top: 40px;
}
main section{
    width: 1024px;
    padding: 0 auto;
}
.titulo{
    position: absolute;
    left: 300px;
    top: 40px;
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    color: #0A3871;
}
.subtitulo{
    position: absolute;
    left: 305px;
    top: 80px;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: #0A3871;
}
p a{
    font-size: 16px;
    color: #0A3871;
    text-decoration: none;
}
main textarea{
    border: none;
    background: none;  
}
.texto-nuevo{
    position: absolute;
    width: 450px;
    height: 330px;
    left: 180px;
    top: 160px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    color: #0A3871;
    resize: none;
}
.principal-dos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 450px;
    height: 18px;
    top: 500px;
    left: 180px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    color: gray;
}
.signo{
    width: 12px;
    height: auto;
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 450px;
    height: 70px;
    left: 180px;
    top: 530px;
}
.encriptar{
    background-color: #0A3871;
    padding: 5px 10px;
    margin: auto;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: #D8DFE8;
    box-shadow: 2px 2px 1px 1px #000000;
}
.desencriptar{
    background-color: #D8DFE8;
    padding: 5px 10px;
    margin: auto;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: #0A3871;
    box-shadow: 2px 2px 1px 1px #000000;
}
.texto-encriptado{
    border-radius: 10px;
    background-color: white;
    position: absolute;
    width: 250px;
    height: 500px;
    left: 750px;
    top: 100px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    resize: none;
    box-shadow: 2px 2px 2px 1px #00000070;
}
.muneco{
    position: absolute;
    width: 160px;
    height: auto;
    left: 790px;
    top: 200px;
}
.secundario-dos{
    position: absolute;
    width: 160px;
    height: auto;
    left: 790px;
    top: 365px;
}
.frase{
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: black;
}
.mensaje{
    padding: 10px;
    font-family: 'Inter';
    font-weight: 550;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    color: rgb(87, 87, 87);
}
.exito-encriptar{
    display: none;
    position: absolute;
    width: 160px;
    height: auto;
    left: 790px;
    top: 425px;
    font-family: 'Inter';
    font-weight: 550;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: rgb(87, 87, 87);
}
.exito-desencriptar{
    display: none;
    position: absolute;
    width: 160px;
    height: auto;
    left: 790px;
    top: 425px;
    font-family: 'Inter';
    font-weight: 550;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: rgb(87, 87, 87);
}
.copiar{
    display: none;
    position: absolute;
    left: 780px;
    top: 540px;
    background-color: white;
    padding: 5px 10px;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: #6e6e6e;
    box-shadow: 1px 1px 1px 1px #6e6e6e;
}
footer{
    background-color: #082549;
    background-size: 100px auto;
    height: 12%;
}
nav{
    width: 500px;
    height: 60px;
    margin: auto;
    
}
nav li{
    display: inline-block;
    padding: 20px 90px;
}
nav a {
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-decoration: none;
}
footer p{
    text-align: center;
    font-size: 14px;
    color: white;
}

/* funciones hover*/

p a:hover{
    transition: 500ms;
    font-size: 16px;
    color: #040025;
    text-decoration: underline;
}
.encriptar:hover{
    transition: 300ms;
    font-size: 15px;
    color: #ffffff;
    text-decoration: underline;
    transform: scale(1.1, 1.1);
}
.desencriptar:hover{
    transition: 300ms;
    font-size: 15px;
    color: #000000;
    text-decoration: underline;
    transform: scale(1.1, 1.1);
}
.copiar:hover{
    transition: 500ms;
    font-size: 15px;
    color: #1f008f;
    text-decoration: underline;
    transform: scale(1.1, 1.1);
}
nav a:hover {
    color: #fffb00;
    text-decoration: underline;
    transform: scale(1.2, 1.2);
}

/*ajustes multiplataforma*/

@media screen and (max-width:786px){
    .titulo, .subtitulo{
        left: 30%; width: 60%;
    }
    .texto-nuevo, .principal-dos, .botones{
        left: 15%; width: 70%;
    }
    .texto-nuevo{
       height: 550px;
    }
    .principal-dos{
        top: 720px;
    } 
    .botones{
       top: 750px;
    }
    .texto-encriptado{
        top: 850px; left: 15%; width: 70%; height: 120px;
    }
    .muneco, .exito-encriptar, .exito-desencriptar{
        display: none; width: 0%; left: 25%; font-size: 1px;
    }
    .secundario-dos{
        left: 25%; width: 50%; top:880px;
    }
    .copiar{
        left: 25%; top: 920px; width: 50%;
    }
}
@media screen and (max-width:px){
    .titulo, .subtitulo{
        left: 250px;
    }
    .texto-nuevo, .principal-dos, .botones{
        width: 400px;
        left: 100px;
    }
    .texto-encriptado{
        left: 600px;
    }
    .muneco, .secundario-dos, .exito-encriptar, .exito-desencriptar {
        left: 650px;
    }
    .copiar{
        left: 675px;
    }
}